openapi: 3.1.0
info:
  title: Access Management API
  description: The Access Management API provides endpoints for managing access to resources in the Anypoint Platform.
  version: '1.0'
servers:
- url: https://anypoint.mulesoft.com/accounts/api
tags:
- name: Authorization
  description: Authorize actions on resources.
- name: Clients
  description: Manage OAuth clients and their role assignments.
- name: Client Providers
  description: Manage client management providers and their clients.
- name: Connected Applications
  description: Manage connected applications, scopes, authorizations, and settings.
- name: Environments
  description: Manage environments within organizations.
- name: Entitlements
  description: Manage organization entitlements.
- name: Feature Flags
  description: Manage feature flags for organizations.
- name: Identity Providers
  description: Manage identity providers, SAML, LDAP, and provider settings.
- name: Invites
  description: Invite users to join organizations.
- name: Members
  description: Manage organization membership.
- name: OAuth 2.0
  description: OAuth 2.0 authorization, token, and OpenID Connect endpoints.
- name: Organizations
  description: Manage organizations, hierarchy, ownership, and SMTP settings.
- name: Profile
  description: Retrieve information about the current user.
- name: Role Groups
  description: Manage role groups and their role and user assignments.
- name: Roles
  description: Query roles, permissions, and search by role assignments.
- name: Session
  description: Manage user sessions and authentication.
- name: Signup
  description: User registration and username availability.
- name: Teams
  description: Manage teams, members, roles, and group mappings.
- name: Tenant Relationships
  description: Manage tenant relationships between organizations.
- name: Users
  description: Manage users, properties, roles, and verifiers.
- name: Account Recovery
  description: Password and username recovery.
- name: Einstein
  description: Manage Einstein AI settings and terms.
- name: Notifications
  description: Send platform notifications.
- name: System
  description: Application health, version, subscriptions, and support.
- name: Deleted Resources
  description: Query deleted organizations and environments.
paths:
  /authorize:
    post:
      summary: Authorize multiple resources
      description: Authorize for many resources
      tags:
      - Authorization
      requestBody:
        content:
          application/json:
            example:
              resources:
              - namespace: org
                action: read
                resource: /organizations/a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                authorized: true
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Authorize single resource
      description: Authorize for a single resource
      tags:
      - Authorization
      parameters:
      - name: namespace
        in: query
        required: true
        schema:
          type: string
      - name: action
        in: query
        required: true
        schema:
          type: string
      - name: resource
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example: {}
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /authorize/client:
    get:
      summary: Authorize client
      tags:
      - Authorization
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
      - name: client_secret
        in: query
        required: true
        schema:
          type: string
      - name: namespace
        in: query
        required: true
        schema:
          type: string
      - name: action
        in: query
        required: true
        schema:
          type: string
      - name: resource
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example: {}
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /authorize/context:
    post:
      summary: Authorize by context
      description: Get the set of contexts in which the caller can perform an action on resources that match a template
      tags:
      - Authorization
      requestBody:
        content:
          application/json:
            example:
              namespace: org
              action: read
              resource_template: /organizations/{orgId}
  /clients:
    x-amf-description: Access to clients
    post:
      summary: Create client
      description: Create a new client
      tags:
      - Clients
      requestBody:
        content:
          application/json:
            example:
              name: My API Client
              description: Production client for API access
              redirect_uris:
              - https://example.com/callback
              grant_types:
              - authorization_code
              scopes:
              - read
              - write
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: My API Client
                description: Production client for API access
                client_id: a1b2c3d4e5f67890abcdef1234567890
                client_secret: '********'
                redirect_uris:
                - https://example.com/callback
                grant_types:
                - authorization_code
                scopes:
                - read
                - write
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List clients
      description: Get all clients
      tags:
      - Clients
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                data:
                - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: My API Client
                  client_id: a1b2c3d4e5f67890abcdef1234567890
                - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                  name: Analytics Service
                  client_id: b2c3d4e5f6a78901bcdef12345678901
                total: 2
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /clients/{clientId}:
    x-amf-description: Access to a client
    delete:
      summary: Delete client
      description: Deletes a single client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '404':
          description: '404'
        '409':
          description: '409'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    patch:
      summary: Update client
      description: Patches a single client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: resetSecret
        in: query
        description: Asks service to reset secret as part of this operation
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            example:
              name: Updated API Client
              description: Updated production client
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '404':
          description: '404'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Get client
      description: Get a single client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: My API Client
                description: Production client for API access
                client_id: a1b2c3d4e5f67890abcdef1234567890
                client_secret: '********'
                redirect_uris:
                - https://example.com/callback
                grant_types:
                - authorization_code
                scopes:
                - read
                - write
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /clients/{clientId}/roles:
    x-amf-description: Access to a client's roles
    delete:
      summary: Unassign roles from client
      description: Unassign a list of roles from a client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              role_ids:
              - a1b2c3d4-e5f6-7890-abcd-ef1234567890
              - b2c3d4e5-f6a7-8901-bcde-f12345678901
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    post:
      summary: Assign roles to client
      description: Assign a list of roles to a client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              role_ids:
              - a1b2c3d4-e5f6-7890-abcd-ef1234567890
              - b2c3d4e5-f6a7-8901-bcde-f12345678901
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List client roles
      description: Return a list of roles that are assigned to a client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                data:
                - role_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Organization Administrator
                  description: Full access to the organization
                - role_id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                  name: API Creator
                  description: Can create and manage APIs
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /clients/{clientId}/roles/{roleId}:
    delete:
      summary: Unassign role from client
      description: Unassign a role from a client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    post:
      summary: Assign role to client
      description: Assign a role to a client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              role_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Get client role
      description: Return a role is assigned to a client
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                role_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Organization Administrator
                description: Full access to the organization
        '400':
          description: '400'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /clients/search:
    post:
      summary: Search clients
      description: Search clients
      tags:
      - Clients
      requestBody:
        content:
          application/json:
            example:
              query: API Client
              limit: 25
              offset: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: My API Client
                  client_id: a1b2c3d4e5f67890abcdef1234567890
                total: 1
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /connectedApplications:
    x-amf-description: Access to connected applications
    post:
      summary: Create connected application
      description: Create a new connected application
      tags:
      - Connected Applications
      requestBody:
        content:
          application/json:
            example:
              client_name: My Connected App
              grant_types:
              - client_credentials
              redirect_uris: []
              scopes:
              - read:full
              enabled: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                client_id: a1b2c3d4e5f67890abcdef1234567890
                client_name: My Connected App
                owner_org_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                grant_types:
                - client_credentials
                redirect_uris: []
                scopes:
                - read:full
                enabled: true
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List connected applications
      description: Get all connected applications for the organization
      tags:
      - Connected Applications
      parameters:
      - name: includeUsage
        in: query
        description: flag to indicate whether to return usage statistics
        required: true
        schema:
          type: boolean
          default: false
      - name: orgId
        in: query
        description: Provide an orgId to get all clients from other organization
        schema:
          type: string
      - name: hide_managed
        in: query
        description: Hides the managed connected apps when set to true.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                data:
                - client_id: a1b2c3d4e5f67890abcdef1234567890
                  client_name: My Connected App
                  owner_org_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  enabled: true
                total: 1
                offset: 0
                limit: 25
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /connectedApplications/{clientId}:
    x-amf-description: Access to individual connected application
    delete:
      summary: Delete connected application
      description: Deletes a single connected application
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Connected application was deleted
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    patch:
      summary: Update connected application
      description: Patches a single connected application
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: resetSecret
        in: query
        description: Asks service to reset secret as part of this operation
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            example:
              client_name: Updated Connected App
              enabled: false
      responses:
        '200':
          description: Connected application was successfully updated
          content:
            application/json:
              example:
                client_id: a1b2c3d4e5f67890abcdef1234567890
                client_name: Updated Connected App
                owner_org_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                enabled: false
        '404':
          description: Connected application with that clientId could not be found
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Get connected application
      description: Get a single connected application
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: includeUsage
        in: query
        description: flag to indicate whether to return usage statistics
        required: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                client_id: a1b2c3d4e5f67890abcdef1234567890
                client_name: My Connected App
                owner_org_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                grant_types:
                - client_credentials
                redirect_uris: []
                scopes:
                - read:full
                enabled: true
        '404':
          description: Connected application with that clientId could not be found
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /connectedApplications/{clientId}/scopes:
    x-amf-description: 'Routes for operationg upon context-aware scopes assigned directly to the client''s identity,

      only for use with the client_credentials grant type. Orthogonal to the set of scopes associated

      with user authorizations.'
    delete:
      summary: Remove connected application scopes
      description: 'Unassigns context-aware scopes from the connected application.

        Scopes must exactly match in order to be removed.'
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              scopes:
              - read:full
              - write:full
      responses:
        '204':
          description: Connected application scopes were successfully unassigned
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    patch:
      summary: Update connected application scopes
      description: 'Assigns additional context-aware scopes to the connected application.

        Does not unassign any existing scopes.

        Duplicate entries are ignored.'
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              scopes:
              - read:full
              - write:full
      responses:
        '204':
          description: Connected application scopes were successfully assigned
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    put:
      summary: Replace connected application scopes
      description: Replaces the entire list of context-aware scopes assigned to the connected application
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              scopes:
              - read:full
              - write:full
      responses:
        '204':
          description: Connected application scopes were successfully replaced
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List connected application scopes
      description: Retrieves context-aware scopes assigned to the connected application
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                scopes:
                - read:full
                - write:full
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /connectedApplications/{clientId}/revoke:
    delete:
      summary: Revoke connected application tokens
      description: Revoke all access tokens and refresh tokens issued to the connected application
      tags:
      - Connected Applications
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: All tokens were revoked successfully
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /deletedResources:
    x-amf-description: find deleted resources
  /deletedResources/organizations:
    get:
      summary: List deleted organizations
      description: returns the deleted organizations
      tags:
      - Deleted Resources
      parameters:
      - name: deletedBefore
        in: query
        description: search for all organizations deleted before a certain date
        required: true
        schema:
          type: string
          format: date-time
      - name: deletedAfter
        in: query
        description: search for all organizations deleted after a certain date
        required: true
        schema:
          type: string
          format: date-time
      - name: parentOrgId
        in: query
        description: search for all organizations deleted that are children of the specified orgnization
        required: true
        schema:
          type: string
      - name: orgId
        in: query
        description: search for the organization deleted
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Deleted Organization
                  deleted_at: '2024-06-20T14:15:00Z'
                total: 1
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /deletedResources/environments:
    get:
      summary: List deleted environments
      description: returns the deleted environments
      tags:
      - Deleted Resources
      parameters:
      - name: deletedBefore
        in: query
        description: search for all environments deleted before a certain date
        required: true
        schema:
          type: string
          format: date-time
      - name: deletedAfter
        in: query
        description: search for all environments deleted after a certain date
        required: true
        schema:
          type: string
          format: date-time
      - name: orgId
        in: query
        description: search for all environments deleted that are associated with the specified orgnization
        required: true
        schema:
          type: string
      - name: envId
        in: query
        description: search for the environment deleted
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Deleted Environment
                  organization_id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                  deleted_at: '2024-06-20T14:15:00Z'
                total: 1
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /environments:
    x-amf-description: Environments resource
  /environments/{environmentId}:
    x-amf-description: Environment by id
    put:
      summary: Update environment
      description: Update an environment, implemented as a patch. Note that only the name is allowed to be updated, isProduction
        and type can not.
      tags:
      - Environments
      parameters:
      - name: environmentId
        in: path
        required: true
        description: The id of an environment
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: Production
              type: production
              isProduction: true
      responses:
        '200':
          description: Returns the updated environment
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Production
                organizationId: b2c3d4e5-f6a7-8901-bcde-f12345678901
                type: production
                isProduction: true
                clientId: client-a1b2c3d4
        '404':
          description: No environment exists with that id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Get environment
      description: Retrieves an environment by id
      tags:
      - Environments
      parameters:
      - name: environmentId
        in: path
        required: true
        description: The id of an environment
        schema:
          type: string
      responses:
        '200':
          description: Returns the environment
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Production
                organizationId: b2c3d4e5-f6a7-8901-bcde-f12345678901
                type: production
                isProduction: true
                clientId: client-a1b2c3d4
        '404':
          description: No environment exists with that id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /featureFlags/{featureFlagName}/check:
    post:
      summary: Check feature flag for organizations
      description: check a feature for a list or organizations
      tags:
      - Feature Flags
      parameters:
      - name: featureFlagName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              org_ids:
              - a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /featureFlags/{featureFlagName}/enabled:
    get:
      summary: List enabled feature flags
      description: get all enabled featureFlags includes organizations and additional context
      tags:
      - Feature Flags
      parameters:
      - name: featureFlagName
        in: path
        required: true
        schema:
          type: string
      responses:
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /invites:
    x-amf-description: Invite people to join the organization
    delete:
      summary: Delete invites
      description: Invite a person to join your organization
      tags:
      - Invites
      requestBody:
        content:
          application/json:
            example:
              invite_ids:
              - a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Success
        '400':
          description: Bad request; unknown organization, bad parameter or no invite was deleted
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    post:
      summary: Create invite
      description: Invite a person to join the organization
      tags:
      - Invites
      requestBody:
        content:
          application/json:
            example:
              email: jane.doe@example.com
              role_group_ids:
              - a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                email: jane.doe@example.com
                status: pending
                created_at: '2024-01-15T10:30:00Z'
        '400':
          description: Bad request; unknown organization, bad parameter or other failure
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List invites
      description: get outstanding or expired invites that match the criteria
      tags:
      - Invites
      parameters:
      - name: orgId
        in: query
        description: the id of the organization that the invites are for joining.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request; unknown organization, bad parameter or other failure
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /invites/{inviteId}:
    x-amf-description: Invite resource
    get:
      summary: Get invite
      description: get an invite
      tags:
      - Invites
      parameters:
      - name: inviteId
        in: path
        required: true
        description: The ID of the invite
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                email: jane.doe@example.com
                status: pending
                created_at: '2024-01-15T10:30:00Z'
                role_group_ids:
                - b2c3d4e5-f6a7-8901-bcde-f12345678901
        '400':
          description: Bad request; bad parameter or other failure
        '404':
          description: No invite exists in this organization for the given inviteId
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /invites/accept:
    get:
      summary: Accept invite
      description: Redirect to anypoint signin to accept an invite
      tags:
      - Invites
      responses:
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /invites/resend:
    x-amf-description: Resend invites
    post:
      summary: Resend invites
      description: Resend a list of invites
      tags:
      - Invites
      requestBody:
        content:
          application/json:
            example:
              invite_ids:
              - a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                message: Invites resent successfully
        '400':
          description: One or more of the invites are not in the organization or no invites were sent
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /login:
    x-amf-description: login to the Anypoint Platform
    post:
      summary: Log in
      description: login to the Anypoint Platform
      tags:
      - Session
      requestBody:
        content:
          application/json:
            example:
              username: jane.doe@example.com
              password: '********'
      responses:
        '200':
          description: Returns the bearer token for the user's session
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                token_type: bearer
                redirectUrl: /home
        '302':
          description: Success; redirect the user to the application they were trying to visit
        '401':
          description: Invalid username or password
        '403':
          description: The user is disabled and cannot login
        '418':
          description: The user belongs to the other platform
          content:
            application/json:
              example:
                error: wrong_platform
                message: The user belongs to the other platform
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /logout:
    x-amf-description: logout of the Anypoint Platform
    get:
      summary: Log out
      description: destroy the user's session and logout from the Anypoint Platform
      tags:
      - Session
      responses:
        '200':
          description: Success; logout was called via ajax so no redirect
        '302':
          description: Success; logout was not called via ajax so redirect to the login page
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /me:
    x-amf-description: all about the caller
    get:
      summary: Get current user
      description: Retrieve information about the caller
      tags:
      - Profile
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                username: jane.doe
                firstName: Jane
                lastName: Doe
                email: jane.doe@example.com
                organizationId: b2c3d4e5-f6a7-8901-bcde-f12345678901
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-06-20T14:15:00Z'
                enabled: true
        '400':
          description: An unknown error occurred
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /notifications:
    x-amf-description: Make Anypoint Platform activity known to subscribers; think webhooks.
    post:
      summary: Send notification
      description: Send
      tags:
      - Notifications
      requestBody:
        content:
          application/json:
            example:
              subject: Account update notification
              message: Your organization settings have been updated.
              recipients:
              - jane.doe@example.com
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                example: OK
        '400':
          description: Bad request; invalid notification format
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /oauth2:
    x-amf-description: oauth 2 routes
  /oauth2/authorize:
    x-amf-description: OAuth2 authorization route for non-federated users
    get:
      summary: Start OAuth2 authorization
      description: OAuth2 authorization route to have the user authorize an application defined in our system
      tags:
      - OAuth 2.0
      parameters:
      - name: redirect_uri
        in: query
        description: Redirect uri for the application
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        description: Describes the type of object that the application wishes to receive upon success
        required: true
        schema:
          type: string
          enum:
          - code
          - token
      - name: client_id
        in: query
        description: The application's client_id that identifies the application
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: A parameter with a string that will be supplied in a redirect back to the application upon success
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Success; redirects the user to the page to authentication & authorize the application if not logged
            in, or to the original application if logged in
        '400':
          description: Bad request; an invalid redirect_uri, response_type or client_id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /oauth2/authorize/{domain}:
    x-amf-description: OAuth2 authorization route for federated or non-federated users
    get:
      summary: Start OAuth2 authorization by domain
      description: OAuth2 authorization route that will route federated users to their authentication system and non-federated
        users to ours
      tags:
      - OAuth 2.0
      parameters:
      - name: domain
        in: path
        required: true
        description: Domain name to identify the organization to identify what identity management system needs to authentication
          the user.
        schema:
          type: string
      - name: redirect_uri
        in: query
        description: Redirect uri for the application
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        description: Describes the type of object that the application wishes to receive upon success
        required: true
        schema:
          type: string
          enum:
          - code
          - token
      - name: client_id
        in: query
        description: The application's client_id that identifies the application
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: A parameter with a string that will be supplied in a redirect back to the application upon success
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Success; redirects the user to the page to authentication & authorize the application if not logged
            in, or to the original application if logged in
        '400':
          description: Bad request; an invalid redirect_uri, response_type or client_id
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /oauth2/authorize/{domain}/providers/{providerId}:
    x-amf-description: OAuth2 authorization route for federated users
    get:
      summary: Start OAuth2 authorization by provider
      description: OAuth2 authorization route that will route federated users to their authentication system
      tags:
      - OAuth 2.0
      parameters:
      - name: domain
        in: path
        required: true
        description: Domain name to identify the organization to identify what identity management system needs to authentication
          the user.
        schema:
          type: string
      - name: providerId
        in: path
        required: true
        description: The identity provider configuration id used to identify the identity management system needed to authenticate
          the user.
        schema:
          type: string
      - name: redirect_uri
        in: query
        description: Redirect uri for the application
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        description: Describes the type of object that the application wishes to receive upon success
        required: true
        schema:
          type: string
          enum:
          - code
          - token
      - name: client_id
        in: query
        description: The application's client_id that identifies the application
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: A parameter with a string that will be supplied in a redirect back to the application upon success
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Success; redirects the user to the page to authentication & authorize the application if not logged
            in, or to the original application if logged in
        '400':
          description: Bad request; an invalid redirect_uri, response_type or client_id
  /oauth2/decision/{domain}:
    post:
      summary: Submit OAuth2 consent decision
      description: Confirms whether a user grants consent to add his user to an external organization
      tags:
      - OAuth 2.0
      parameters:
      - name: domain
        in: path
        required: true
        description: Domain name to identify the organization to identify what identity management system needs to authentication
          the user.
        schema:
          type: string
      responses:
        '302':
          description: Redirects the user to domain authorization flow
  /oauth2/introspect:
    x-amf-description: Look up caller information from an access token
    post:
      summary: Introspect OAuth2 token
      description: 'Look up caller information from an access token

        This implements RFC-7662: OAuth 2.0 Token Introspection'
      tags:
      - OAuth 2.0
      requestBody:
        content:
          application/json:
            example:
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
              required:
              - token
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /oauth2/token:
    x-amf-description: OAuth2 token resource
    post:
      summary: Create or retrieve OAuth2 token
      description: create or retrieve an OAuth2 token
      tags:
      - OAuth 2.0
      requestBody:
        content:
          application/json:
            example:
              grant_type: client_credentials
              client_id: a1b2c3d4e5f67890abcdef1234567890
              client_secret: '********'
      responses:
        '200':
          description: success
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizationname/{organizationName}:
    get:
      summary: Check organization name availability
      description: Check if organization name is being used
      tags:
      - Organizations
      parameters:
      - name: organizationName
        in: path
        required: true
        description: The name of the organization
        schema:
          type: string
      responses:
        '204':
          description: The organization name is already taken
        '404':
          description: The organization name is available
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations:
    x-amf-description: Organizations Resource
  /organizations/{orgId}:
    x-amf-description: A single organization
    delete:
      summary: Delete organization
      description: Deletes the referenced organization
      tags:
      - Organizations
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Invalid or incomplete body
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    put:
      summary: Update organization
      description: Updates the referenced organization
      tags:
      - Organizations
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: My Organization
              domain: myorg
              session_timeout: 60
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: My Organization
                owner_id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-06-20T14:15:00Z'
                is_federated: false
                domain: myorg
                session_timeout: 60
        '400':
          description: Invalid or incomplete body
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Get organization
      description: Returns the referenced organization
      tags:
      - Organizations
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: My Organization
                owner_id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-06-20T14:15:00Z'
                is_federated: false
                domain: myorg
                session_timeout: 60
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations/{orgId}/clientProviders:
    post:
      summary: Create client provider
      description: Adds a new client management provider for the organization. This can be called only on Root Organizations
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: External Client Provider
              type: openid_connect
              configuration:
                issuer: https://idp.example.com
                authorization_endpoint: https://idp.example.com/authorize
                token_endpoint: https://idp.example.com/token
      responses:
        '201':
          description: Success
        '400':
          description: Invalid data in body
        '401':
          description: Unauthorized
        '404':
          description: Organization does not exist
        '405':
          description: The organization is not a root organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List client providers
      description: Returns list of client management providers for the root organization with a subset of values (providerId,
        organizationId, name, type (name, description, version))
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: provider_id
        in: query
        description: One or more ids of the provider(s) to return.
        schema:
          type: array
          items:
            type: string
      - name: cp_type
        in: query
        description: One or more types of provider(s) to return.
        schema:
          type: array
          items:
            type: string
      responses:
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations/{orgId}/clientProviders/{clientProviderId}:
    delete:
      summary: Delete client provider
      description: Deletes the associated client management provider
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Client Provider ID does not exist in the Organization
        '405':
          description: The organization is not a root organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    patch:
      summary: Update client provider
      description: Updates the associated client management provider config
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      - name: recreateTokenValidationClient
        in: query
        description: flag to indicate whether to recreate token validation client on update or not
        required: true
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            example:
              name: Updated Client Provider
              configuration:
                issuer: https://idp.example.com
      responses:
        '200':
          description: Success
        '400':
          description: Invalid data in body
        '401':
          description: Unauthorized
        '404':
          description: Client Provider ID does not exist in the Organization
        '405':
          description: The organization is not a root organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    put:
      summary: Replace client provider
      description: Replaces the associated client management provider config
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: Updated Client Provider
              type: openid_connect
              configuration:
                issuer: https://idp.example.com
      responses:
        '200':
          description: Success
        '400':
          description: Invalid data in body
        '401':
          description: Unauthorized
        '404':
          description: Client Provider ID does not exist in the Organization
        '405':
          description: The organization is not a root organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Get client provider
      description: Returns the associated client management provider config for the root organization and a subset of values
        (providerId, organizationId, name, type (name, description, version)) for Business Groups
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      - name: includeSecrets
        in: query
        description: flag to include the secrets as part of the response or not
        required: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: External Client Provider
                type: openid_connect
                org_id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                configuration:
                  issuer: https://idp.example.com
                  authorization_endpoint: https://idp.example.com/authorize
                  token_endpoint: https://idp.example.com/token
        '401':
          description: Unauthorized
        '404':
          description: Client Provider ID does not exist in the Organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations/{orgId}/clientProviders/{clientProviderId}/grantTypes:
    get:
      summary: List client provider grant types
      description: Returns the associated client management provider type and grant types it suppports.
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                grant_types:
                - authorization_code
                - client_credentials
                - implicit
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations/{orgId}/clientProviders/{clientProviderId}/clients:
    post:
      summary: Create client via provider
      description: Adds a new client using the Client Management Provider
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: Provider Client
              description: Client for external provider
              redirect_uris:
              - https://example.com/callback
      responses:
        '201':
          description: Success
        '400':
          description: Invalid data in body
        '401':
          description: Unauthorized
        '404':
          description: Organization or Client Management Provider does not exist
        '405':
          description: The organization is not a root organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List client provider clients
      description: Returns the clients created using this specific Client Management Provider
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      - name: client_id
        in: query
        description: One or more ids of the client(s) to return.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Sucess
          content:
            application/json:
              example:
                data:
                - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Provider Client
                  client_id: a1b2c3d4e5f67890abcdef1234567890
                total: 1
        '401':
          description: Unauthorized
        '404':
          description: Organization or Client Management Provider does not exist
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations/{orgId}/clientProviders/{clientProviderId}/clients/{clientId}:
    delete:
      summary: Delete client provider client
      description: Deletes the associated client
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: If true, client is going to be deleted from Anypoint no matter if it's deleted from the external client
          provider.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: ClientId does not exist in the Organization or Client Management Provider
        '405':
          description: The organization is not a root organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    patch:
      summary: Update client provider client
      description: Updates the associated client
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: If true, client is going to be updated in Anypoint no matter if it's updated from the external client
          provider.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - name: resetSecret
        in: query
        description: Asks service to reset secret as part of this operation
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            example:
              name: Updated Provider Client
              description: Updated client description
      responses:
        '200':
          description: Success
        '400':
          description: Invalid data in body
        '401':
          description: Unauthorized
        '404':
          description: ClientId does not exist in the Organization or Client Management Provider
        '405':
          description: The organization is not a root organization
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: Get client provider client
      description: Returns the associated clients info
      tags:
      - Client Providers
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientProviderId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Provider Client
                description: Client for external provider
                client_id: a1b2c3d4e5f67890abcdef1234567890
                redirect_uris:
                - https://example.com/callback
        '401':
          description: Unauthorized
        '404':
          description: ClientId does not exist in the Organization or Client Management Provider
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations/{orgId}/clients:
    x-amf-description: Access to clients
    post:
      summary: Create organization client
      description: Create a new client
      tags:
      - Clients
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: My API Client
              description: Production client for API access
              redirect_uris:
              - https://example.com/callback
              grant_types:
              - authorization_code
              scopes:
              - read
              - write
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: My API Client
                client_id: a1b2c3d4e5f67890abcdef1234567890
                client_secret: '********'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    get:
      summary: List organization clients
      description: Get all clients
      tags:
      - Clients
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                data:
                - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: My API Client
                  client_id: a1b2c3d4e5f67890abcdef1234567890
                total: 2
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
  /organizations/{orgId}/clients/{clientId}:
    x-amf-description: Access to a client
    delete:
      summary: Delete organization client
      description: Deletes a single client
      tags:
      - Clients
      parameters:
      - name: orgId
        in: path
        required: true
        description: The ID of the organization in GUID format
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
        '400':
          description: '400'
        '404':
          description: '404'
        '409':
          description: '409'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests you're permitted to make in the rate limit window.
              schema:
                type: number
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window.
              schema:
                type: number
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets in UTC epoch seconds.
              schema:
                type: number
    patch:
      summary: Update organization client
[...]
