openapi: 3.0.3
info:
  title: Audit Log Query API
  description: |-
    The Audit Log Query API provides a number of endpoints for querying log data associated with platforms, object types, users and their actions within an organization. It enables querying of the audit logging services that track the history of actions performed on Anypoint Platform. Actions are performed by users via API calls, the Anypoint UI, or by system processes. The service maintains timestamps and allows filtering by users, objects, object types, and action types.

    The Audit Log Query API enables querying of audit logging services that track the history of actions performed on the Anypoint Platform. All REST endpoints begin with /organizations/{id}, and all operations are scoped to a single organization. The service uses SSL encryption and is externally accessible. The latest version supports cursor pagination for efficient data retrieval.
  version: 1.0.x
  contact:
    name: MuleSoft
    url: https://www.mulesoft.com
servers:
  - url: https://anypoint.mulesoft.com/audit/v2
    description: Anypoint Platform
security:
  - bearerAuth: []
paths:
  /organizations/{organizationId}/platforms:
    get:
      summary: Get available platforms
      description: Retrieves the list of platforms and their metadata that can be queried in audit logs. Returns authorization information for the authenticated user.
      operationId: get__organizations_organizationId_platforms
      tags:
        - Monitoring
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization ID
          schema:
            type: string
        - name: include_internal
          in: query
          required: false
          description: 'Include internal platforms (default: false)'
          schema:
            type: boolean
      responses:
        '200':
          description: Array of available platforms with names and object types
  /organizations/{organizationId}/query:
    post:
      summary: Query audit logs
      description: Queries audit log entries with flexible filtering by date range, platforms, object types, actions, user IDs, and object IDs. Supports both cursor-based and offset-based pagination.
      operationId: post__organizations_organizationId_query
      tags:
        - Monitoring
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization ID
          schema:
            type: string
        - name: include_internal
          in: query
          required: false
          description: 'Include internal log entries (default: false)'
          schema:
            type: boolean
        - name: cursorPagination
          in: query
          required: false
          description: 'Enable cursor-based pagination (default: false, uses offset pagination)'
          schema:
            type: boolean
        - name: doIncludeTotal
          in: query
          required: false
          description: 'Include total count with cursor pagination (default: false)'
          schema:
            type: boolean
      requestBody:
        required: true
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                startDate:
                  type: string
                endDate:
                  type: string
                platforms:
                  type: string
                objectTypes:
                  type: string
                actions:
                  type: string
                objectIds:
                  type: string
                userIds:
                  type: string
                offset:
                  type: string
                limit:
                  type: string
                ascending:
                  type: string
                cursor:
                  type: string
              required:
                - startDate
                - endDate
                - platforms
                - objectTypes
                - actions
                - objectIds
                - userIds
                - offset
                - limit
                - ascending
                - cursor
            example:
              startDate: '2024-01-01T00:00:00.000Z'
              endDate: '2024-12-31T23:59:59.999Z'
              platforms: []
              objectTypes: []
              actions: []
              objectIds: []
              userIds: []
              offset: 0
              limit: 25
              ascending: false
      responses:
        '200':
          description: Audit log query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                  cursor:
                    type: string
                  total:
                    type: string
                required:
                  - data
                  - cursor
                  - total
        '401':
          description: Unauthorized - invalid or missing bearer token
        '403':
          description: Forbidden - insufficient permissions (requires Org Admin or Audit Log Viewer role)
        '503':
          description: Service Unavailable - rate limit exceeded
    get:
      summary: Query audit logs (GET)
      description: Alternative GET-based query endpoint for audit logs with query parameters instead of request body.
      operationId: get__organizations_organizationId_query
      tags:
        - Monitoring
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization ID
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          description: Start date in ISO-8601 format
          schema:
            type: string
        - name: endDate
          in: query
          required: false
          description: End date in ISO-8601 format
          schema:
            type: string
        - name: platforms
          in: query
          required: false
          description: Comma-separated platform names
          schema:
            type: string
        - name: objectTypes
          in: query
          required: false
          description: Comma-separated object types
          schema:
            type: string
        - name: actions
          in: query
          required: false
          description: Comma-separated action types
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: 'Pagination offset (default: 0)'
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          description: 'Results per page (default: 25)'
          schema:
            type: integer
        - name: ascending
          in: query
          required: false
          description: Sort direction
          schema:
            type: boolean
      responses:
        '200':
          description: Audit log query results with data array and pagination info
        '503':
          description: Service Unavailable - rate limit exceeded
  /organizations/{organizationId}/users:
    get:
      summary: Get users who performed actions
      description: Retrieves the list of users who have performed auditable actions within the organization.
      operationId: get__organizations_organizationId_users
      tags:
        - Monitoring
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization ID
          schema:
            type: string
      responses:
        '200':
          description: Array of users with IDs and names who have audit log entries
  /organizations/{organizationId}/objects:
    get:
      summary: Get audited objects
      description: Retrieves the list of objects that had actions performed on them within the organization.
      operationId: get__organizations_organizationId_objects
      tags:
        - Monitoring
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization ID
          schema:
            type: string
      responses:
        '200':
          description: Array of objects that have been subject to auditable actions
  /organizations/{organizationId}/objectTypes:
    get:
      summary: Get available object types
      description: Retrieves the list of object types that can be filtered in audit log queries.
      operationId: get__organizations_organizationId_objectTypes
      tags:
        - Monitoring
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization ID
          schema:
            type: string
      responses:
        '200':
          description: Array of object types (e.g., 'API', 'Application', 'User', 'Role', 'Environment', 'Organization')
  /organizations/{organizationId}/actions:
    get:
      summary: Get available action types
      description: Retrieves the list of action types that can be filtered in audit log queries.
      operationId: get__organizations_organizationId_actions
      tags:
        - Monitoring
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization ID
          schema:
            type: string
      responses:
        '200':
          description: Array of action types (e.g., 'Create', 'Edit', 'Delete', 'Deploy', 'Login', 'Logout', 'Approve')
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Users must have the Anypoint Platform Organization Administrator permission or the Audit Log Viewer permission to access both the UI and the Audit Log Query API. Authenticate with a bearer token passed in the ''Authorization: Bearer <token>'' header. All operations are scoped to a single organization via the organization ID in the URL path.'
tags:
  - name: Monitoring
    description: Audit Log Query API endpoints
